<%- include('../layouts/header') %>
<fieldset>
    <form action="" method="post">
        <h2>
            CREATE ACCOUNT
        </h2>
        <div class="error"></div>
        <div class="fm">
           Full Name <input type="text" name="name" > <br>
           Email  <input type="text" name="email" id=""> <br>
           Phone Number <input type="text" name="user_phone" id=""> <br>
           Password <input type="password" name="password" id=""> <br>
           <button type="submit">Submit</button>
        </div>
    </form>
</fieldset>


<script>
    const form = document.querySelector('form');
    const formerror = document.querySelector('.error');
    form.addEventListener('submit', async(e)=> {
        e.preventDefault();

        // reset errors

        formerror.textContent = '';

        const name = form.name.value;
        const email = form.email.value;
        const user_phone = form.user_phone.value;
        const password = form.password.value;
        try {
            const res = await fetch('/signup', {
                method: "POST",
                body: JSON.stringify({name:name, email:email, user_phone:user_phone, password:password}),
                headers: {'Content-Type': 'application/json'}
            });

            const data = await res.json(); 
            if(data.err) {
                formerror.textContent = data.err
            } else {
                location.assign('/')
            }
        } catch (error) {
            console.log(err)
        }
        // console.log(name, email, user_phone, password)
    })
</script>

<%- include('../layouts/header') %>