<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
        /* Center the loader */
        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #8a307f;
            border-right: 16px solid #79a7d3;
            border-bottom: 16px solid #6883bc;
            border-left: 16px solid #a84e9e;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        /* Add animation to "page content" */
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }

        @-webkit-keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0px;
                opacity: 1
            }
        }

        @keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0;
                opacity: 1
            }
        }

        #myDiv {
            display: none;
            text-align: center;
        }
    </style>
</head>

<body>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        setTimeout(myURL, 10000);
       async function myURL() {
            let id = '<%= id %>'
            console.log(id)
            // window.open('http://qries.com');
            let res = await fetch(`/pay/inilizing?invoice_number=${id}`, {
                    method: "POST",
                    body: JSON.stringify({id: id}),
                    headers: {'Content-Type': 'application/json'}
            })

            const data = await res.json(); 
                if(data.err) {
                    // formerror.textContent = data.err
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: data.err,
                        // footer: '<a href="">Why do I have this issue?</a>'
                    })
                    
                } else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Payment Initialized',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() =>{
                        location.assign(`/pay/test_payment?idf=${data.id}`)
                    })
                    
                      
                }
            
        }
    </script>
    <div id="loader"></div>
</body>

</html>